<div class="link-row">
    <div class="thumbnail" *ngIf="linkRows.length > 0">
        <img class="thumbnail" src="/assets/logo-links.png">        
    </div>
    <div *ngFor="let linkRow of linkRows" class="thumbnail">
        <a class="thumbnail" href="{{linkRow.link}}" target="_blank"><img class="thumbnail" src="/assets/{{linkRow.image}}"></a>
    </div>
</div>