<div style="margin-top: 10px;">
  <a href="{{ appLink }}" target="_blank">{{linkText}}</a>
  <span style="padding-left: 10px;"> </span>
  <a *ngIf="sourceLink" href="{{ sourceLink }}" target="_blank">Source code</a>
<!--  <span *ngIf="sourceLink == ''">Source unavailable</span>  -->
</div>
