<div class="content-area">
    <h1>Contact</h1>
    <app-menu-bar [menuRows]='menuRows' (selected)='template=$event'></app-menu-bar>

    <div class="content-text">

      <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
      <table>
        <tr>
          <th>Your name:</th><td><input formControlName="name" class="form-control" (input)="checkStatus()"></td>
        </tr>
        <tr>
          <th>Your email address:</th><td><input (input)="checkStatus()" email="true" type="email" formControlName="email" class="form-control"></td>
        </tr>
        <tr>
          <th>Your message:</th><td><textarea (input)="checkStatus()" class="form-control no-resize" cols="40" rows="10" formControlName="message"></textarea></td>
        </tr>
        <tr>
          <th></th><td> <button class="button" type="submit" class="submit-contact"
            name="submitmessage" [disabled]="invalid">Send Message</button></td>
        </tr>
      </table>
      </form>

    
      <div *ngIf="this.contactState == this.ContactState().success" class="success">
        Success - Message sent.
      </div>

      <div *ngIf="this.contactState == this.ContactState().failure" class="failure">
        Error - message not sent.
      </div>
    

    </div>
  </div>
