<div class="content-area">
    <h1>Work History in Software Development</h1>
    <app-empty-menu-bar></app-empty-menu-bar>

    <div class="content-text">

        <b>In The Code:</b> I worked on Android, iOS and MEAN Stack applications. My tasks included development, code review and testing, including sprint retrospective testing.
        <br/>
        <b>Period:</b> February 2018 - April 2018
        <app-link [appLink]="'https://www.inthecode.com.au'" [linkTextInput]="'Company Website'"></app-link>

        <hr/>

            <b>Efficiency Leaders:</b> I worked on a C# ASP.NET / Angular / Microsoft SQL application. My tasks included development and testing.
            <br/>
            <b>Period:</b> October 2018 - April 2019
              <app-link [appLink]="'https://www.efficiencyleaders.com.au/'" [linkTextInput]="'Company Website'"></app-link>


    </div>

  </div>
