.thumbnail {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 800px) {
    .thumbnail {
        height: 15px;
    }
}

@media only screen and (min-width: 801px) {
    .thumbnail {
        height: 20px;
    }
}

.technology-row {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: flex-start;
}