<div class="technology-row">
    <div class="thumbnail">
        <img class="thumbnail" src="/assets/logo-technologies.png">        
    </div>
    <div *ngFor="let technologyRow of technologyRows" class="thumbnail">
       <!-- 
        <a class="thumbnail" href="{{technologyRow.link}}" target="_blank">
        -->
            <img class="thumbnail" src="/assets/{{technologyRow.image}}">
        <!--
        </a>
    -->
    </div>
</div>