<div class="horizontal-menu-bar">
  <div *ngFor="let menuRow of menuRows"
        (click)="onChange(menuRow)"
        class="horizontal-menu-item"
        [ngClass]="{
          'horizontal-menu-item-selected': menuRow.navTemplate == selectedString,
          'horizontal-menu-item-hovered-but-not-selected': menuRow.navTemplate != selectedString && menuRow.navTemplate == hoveredString
        }"
        (mouseenter)="setHovered(menuRow.navTemplate);"
        (mouseleave)="setHovered(null);;"
        >
    <div>
      <div>
        {{ menuRow.navTitle }}
      </div>
    </div>
  </div>
</div>
