 <div class="thumbnail">
<!--
    <a class="thumbnail" href="/assets/{{link}}" target="_blank" >
    -->
        <img class="thumbnail" src="/assets/{{image}}" height="{{height}}">
<!--
    </a>
-->
</div>