<div class="content-area">
    <h1>Technologies - Skills in Languages, Frameworks, etc</h1>
    <app-empty-menu-bar></app-empty-menu-bar>

    <div class="content-text">

      <b>Java:</b> Probably my favorite language and the one I am most skilled at. I have been writing personal projects in it for 6 years. I like its balance between performance
      and automatic memory management. Thus far I have used it for personal Android projects - namely a game (Highway Race) and live wallpapers.
      <br/>
      <b>Experience:</b> 3 months at In The Code for an Android application. 6 years on personal projects.
      <hr/>
      <b>C#:</b> I appreciate that it's similar to Java and has similar, good, performance.
      <br/>
      <b>Experience:</b> 3 months at Efficiency Leaders, specifically ASP.NET Web API.

      <hr/>
      <b>Objective-C:</b> I enjoy the great performance it produces on mobile devices.
      <br/>
      <b>Experience:</b> 3 months at In The Code, specifically for an iOS application.

      <hr/>
      <b>Javascript:</b> Although I prefer statically typed languages, I respect it importance in web applications, both in the front end and back.
      <br/>
      <b>Experience:</b> 3 months at In The Code, specifically in Node.js.

      <hr/>
      <b>Python:</b> I appreciate the rapid development time due to being interpreted, and the large number of libraries available.
      <br/>
      <b>Experience:</b> 2 years on personal projects, for example to scrape APIs for my World Cities live wallpaper.

      <hr/>
      <b>Golang:</b> I appreciate the high performance, easy concurrency and manual memory management.
      <br/>
      <b>Experience:</b> 2 years on personal projects, mainly for my Trivia game back end.

      <hr/>
      <b>Angular:</b> I like how full-featured it is, and the fact that it is written in Typescript, which makes Javascript more tolerable to someone who prefers static typing.
      <br/>
      <b>Experience:</b> 3 months at In The Code. 3 months at Efficiency Leaders. 6 months+ on personal projects.

      <hr/>
      <b>MongoDB:</b> Although I prefer SQL-based databases, I appreciate how well it integrates with Javascript.
      <br/>
      <b>Experience:</b> 3 months at In The Code.

      <hr/>
      <b>Microsoft SQL Server:</b> I appreciate its performance and integration with other Microsoft products, such as ASP.NET, which is to be expected.
      <br/>
      <b>Experience:</b> 3 months at In The Code.

      <hr/>
      <b>MySQL:</b> I appreciate it being open source and high performance.
      <br/>
      <b>Experience:</b> 2 years on personal projects, mainly for my Trivia game back end and World Cities live wallpaper back end.

      <hr/>
      <b>LibGDX game framework:</b> I enjoy using LibGDX to create games and live wallpapers. It is a Java-based game framework with native OpenGL bindings. This design makes it easy to use and performant.
      <br/>
      <b>Experience:</b> 6 years on personal projects.


    </div>

  </div>
