<div class="app-component" class="menu-and-content-container">

  <div class="menu-bar-container">

      <div class="main-menu-item" (click)="openHome();" [ngClass]="{
        'main-menu-item-selected': 'home' == selectedString,
        'main-menu-item-hovered-but-not-selected': 'home' != selectedString && 'home' == hoveredString
      }" (mouseenter)="setHovered('home');" (mouseleave)="setHovered(null);;">
        <div>
          Home
        </div>
      </div>

      <div class="main-menu-item" (click)="openGames();" [ngClass]="{
          'main-menu-item-selected': 'games' == selectedString,
          'main-menu-item-hovered-but-not-selected': 'games' != selectedString && 'games' == hoveredString
             }" (mouseenter)="setHovered('games');" (mouseleave)="setHovered(null);;">
        Games
      </div>

      <div class="main-menu-item" (click)="openLiveWallpapers();" [ngClass]="{
      'main-menu-item-selected': 'livewallpapers' == selectedString,
      'main-menu-item-hovered-but-not-selected': 'livewallpapers' != selectedString && 'livewallpapers' == hoveredString
}" (mouseenter)="setHovered('livewallpapers');" (mouseleave)="setHovered(null);;">
        Live Wallpapers
      </div>

      <div class="main-menu-item" (click)="open3dGraphics();" [ngClass]="{
        'main-menu-item-selected': 'threedgraphics' == selectedString,
        'main-menu-item-hovered-but-not-selected': '3dmodels' != selectedString && 'threedgraphics' == hoveredString
  }" (mouseenter)="setHovered('threedgraphics');" (mouseleave)="setHovered(null);;">
        3D Graphics
      </div>


<!--
      <div class="main-menu-item" (click)="openContact();" [ngClass]="{
    'main-menu-item-selected': 'contact' == selectedString,
    'main-menu-item-hovered-but-not-selected': 'contact' != selectedString && 'contact' == hoveredString
     }" (mouseenter)="setHovered('contact');" (mouseleave)="setHovered(null);;">
        Contact
      </div>
    -->
    

  </div>

<div class="menu-content-divider">

</div>

    <div class="router-outlet">
      <!-- router outlet displays the main page content -->
    <router-outlet></router-outlet>
  </div>

</div>