.video-player {
    margin: 5px;
}

.thumbnail-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.full-screen {
    width: 100%;
    height: 100%;
}

// this holds the CSS display of the modal
.modal {
    // makes it hover above all elements
    z-index: 1000;
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 300px;
    width: 500px;
}