<div class="content-area">
  <h1>Live Wallpapers</h1>
  <app-menu-bar [menuRows]='menuRows' (selected)='template=$event'></app-menu-bar>

    <div class="content-text">
      
  <div *ngIf="template === 'kensho'">
    Kensho is a 90s-style plasma wallpaper.
        <app-technology-collage [technologyRows]="this.kenshoTechnologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.kenshoLinkRows"></app-link-collage>


    <youtube-player
    class="video-player"
    [videoId]="kenshoid[0]"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>

  <youtube-player
  class="video-player"
  [videoId]="kenshoid[1]"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  [playerVars]="playerVars">
</youtube-player>

</div>

  <div *ngIf="template === 'bokeh'">
    Bokeh is a wallpaper featuring simulated bokeh lights.
    <app-technology-collage [technologyRows]="this.bokehTechnologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.bokehLinkRows"></app-link-collage>

    <youtube-player
    class="video-player"
    [videoId]="bokehid[0]"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>

  </div>
 
  <div *ngIf="template === 'ribbons'">
    Ribbons is a wallpaper inspired by the Windows Ribbons screensaver.
    <app-technology-collage [technologyRows]="this.ribbonsTechnologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.ribbonsLinkRows"></app-link-collage>

    <youtube-player
    class="video-player"
    [videoId]="ribbonsid[0]"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>

  <youtube-player
  class="video-player"
  [videoId]="ribbonsid[1]"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  [playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="ribbonsid[2]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>


  </div>

  <div *ngIf="template === 'collage'">
    Collage displays pictures from a folder of your choice.
    <app-technology-collage [technologyRows]="this.collageTechnologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.collageLinkRows"></app-link-collage>

    <youtube-player
    class="video-player"
    [videoId]="collageid[0]"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>

  <youtube-player
  class="video-player"
  [videoId]="collageid[1]"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  [playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="collageid[2]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

  </div>

  <div *ngIf="template === 'tiles'">
    Tiles displays 3D tiles with multiple configurable options. 
    <app-technology-collage [technologyRows]="this.tilesTechnologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.tilesLinkRows"></app-link-collage>

    <youtube-player
    class="video-player"
    [videoId]="tilesid[0]"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>

  <youtube-player
  class="video-player"
  [videoId]="tilesid[1]"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  [playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="tilesid[2]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="tilesid[3]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="tilesid[4]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="tilesid[5]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

</div>

  <div *ngIf="template === 'muzei_nasa'">
    NASA Astronomy Picture of the Day (APOD) is a Muzei Live Wallpaper plugin for Android. It retrieves past NASA Pictures of the Day from the NASA API.
    <app-technology-collage [technologyRows]="this.nasaTechnologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.nasaLinkRows"></app-link-collage>

    <div class="thumbnail-container">
      <app-image-thumbnail (click)="openModal(519, imagesNasa, 0, CONFIG519)" [height]="300" [image]="'image-nasa-01.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesNasa, 1, CONFIG519)" [height]="300" [image]="'image-nasa-02.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesNasa, 2, CONFIG519)" [height]="300" [image]="'image-nasa-03.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesNasa, 3, CONFIG519)" [height]="300" [image]="'image-nasa-04.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesNasa, 4, CONFIG519)" [height]="300" [image]="'image-nasa-05.png'" [link]="'_blank'"></app-image-thumbnail>
    </div>
  </div>

  <div *ngIf="template === 'muzei_cities'">
    World Cities is a Muzei Live Wallpaper plugin for Android. It calls a custom API which returns Flickr photos.
    <app-technology-collage [technologyRows]="this.citiesTechnologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.citiesLinkRows"></app-link-collage>

    <div class="thumbnail-container">
      <app-image-thumbnail (click)="openModal(519, imagesWallpaper, 0, CONFIG519)" [height]= "300" [image]="'image-cities-01.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesWallpaper, 1, CONFIG519)" [height]= "300" [image]="'image-cities-02.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesWallpaper, 2, CONFIG519)" [height]= "300" [image]="'image-cities-03.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesWallpaper, 3, CONFIG519)" [height]= "300" [image]="'image-cities-04.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesWallpaper, 4, CONFIG519)" [height]= "300" [image]="'image-cities-05.png'" [link]="'_blank'"></app-image-thumbnail>
    </div>
    

</div>
</div>
