<div class="content-area">
    <h1>Games</h1>
    <app-menu-bar [menuRows]='menuRows' (selected)='template=$event'></app-menu-bar>

    <div class="content-text">

      <div *ngIf="template === 'dolphintrivia'" class="content">
        Dolphin Trivia is a multiple-choice, multiplayer, web-based trivia game. Work in progress.
        <app-technology-collage [technologyRows]="this.triviaTechnologyRows"></app-technology-collage>
        <app-link-collage [linkRows]="this.triviaLinkRows"></app-link-collage>
      </div>

      <!--
      <div *ngIf="template === 'highwayrace'" class="content">
      Golden Eagle Racing is a 2.5D racing game, inspired by 16 bit console racing games.
      <app-technology-collage [technologyRows]="this.highwayTechnologyRows"></app-technology-collage>
      <app-link-collage [linkRows]="this.highwayLinkRows"></app-link-collage>

      <youtube-player
      class="video-player"
      [videoId]="racingid[0]"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
      [playerVars]="playerVars">
    </youtube-player>
  
    </div>
  -->

    <div *ngIf="template === 'kirra'" class="content">
      Kirra is a match-based puzzle game. Work in progress.
      <app-technology-collage [technologyRows]="this.kirraTechnologyRows"></app-technology-collage>
      <app-link-collage [linkRows]="this.kirraLinkRows"></app-link-collage>

      <youtube-player
      class="video-player"
      [videoId]="kirraid[0]"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
      [playerVars]="playerVars">
    </youtube-player>

    </div>


    </div>
  </div>
