<div class="content-area">
    <h1>3D Graphics</h1>
    <app-menu-bar [menuRows]='menuRows' (selected)='template=$event'></app-menu-bar>

    <div class="content-text">

    <div *ngIf="template === 'models'" class="content">
      3D models made in Blender. Some made for video game course, some made for sale.
      <app-technology-collage [technologyRows]="this.modelTechnologyRows"></app-technology-collage>
      <app-link-collage [linkRows]="this.modelLinkRows"></app-link-collage>

      <div class="thumbnail-container">
      <app-image-thumbnail (click)="openModal(519, imagesModels, 0, CONFIG519)" [height]="150" [image]="'model-guardian2600-render-01.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 2, CONFIG519)" [height]="150" [image]="'model-guardian2600-render-03.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 3, CONFIG519)" [height]="150" [image]="'model-jetpack-render-01.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 4, CONFIG519)" [height]="150" [image]="'model-jetpack-render-02.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 6, CONFIG519)" [height]="150" [image]="'model-plasma-pistol-render-01.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 7, CONFIG519)" [height]="150" [image]="'model-plasma-pistol-render-02.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 10, CONFIG519)" [height]="150" [image]="'model-bowl-many-stripes-03.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 11, CONFIG519)" [height]="150" [image]="'model-bowl-many-stripes-05.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 12, CONFIG519)" [height]="150" [image]="'model-freezer-02.png'" [link]="'_blank'"></app-image-thumbnail>
      <app-image-thumbnail (click)="openModal(519, imagesModels, 13, CONFIG519)" [height]="150" [image]="'model-freezer-03.png'" [link]="'_blank'"></app-image-thumbnail>

    </div>
      

    </div>

    <div *ngIf="template === 'animation'" class="content">
        3D animations made in Blender. Made for video game course.
      <app-technology-collage [technologyRows]="this.animationTechnologyRows"></app-technology-collage>
      <app-link-collage [linkRows]="this.animationLinkRows"></app-link-collage>

      <youtube-player
      class="video-player"
      [videoId]="id[0]"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
      [playerVars]="playerVars">
    </youtube-player>

    <youtube-player
    class="video-player"
    [videoId]="id[1]"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars">
  </youtube-player>

  <youtube-player
  class="video-player"
  [videoId]="id[2]"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  [playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="id[3]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="id[4]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

<youtube-player
class="video-player"
[videoId]="id[5]"
(ready)="savePlayer($event)"
(change)="onStateChange($event)"
[playerVars]="playerVars">
</youtube-player>

    </div>


    </div>
  </div>
