$headingcolor: #ffffff;
$contentbackgroundcolor: #ffffff;

$selectedbackgroundcolor: rgb(0.0, 128 * 0.6, 255 * 0.6);
$horizontalhoverbackgroundcolor: rgb(0.0, 128 * 0.8, 255 * 0.8);

$verticalbackgroundcolor: rgb(0.0, 128 * 0.2, 255 * 0.2);
$verticalhoverbackgroundcolor: rgb(0.0, 128 * 0.4, 255 * 0.4);


$contentcolor: $selectedbackgroundcolor;
$headingfontsizedesktop: 24px;
$headingfontsizemobile: 14px;

$h1fontsizedesktop: 32px;
$h1fontsizemobile: 20px;



@media only screen and (max-width: 800px) {
  .menu-and-content-container {
    background-color: $selectedbackgroundcolor;
    display: flex;
    flex-direction: column;
  }

  .menu-bar-container {
    background: $verticalbackgroundcolor;
    display: flex;
    flex-direction: row;
    height: 22%;
  }

  .menu-content-divider {
    height: 1%;
    width: 100%;
  }

  .router-outlet {
    height: 77%;
  }


  .main-menu-item {
    cursor: pointer;
    text-align: center;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $headingcolor;
    font-family: sans-serif;
    border-radius: 10px 10px 0px 0px;
    font-size: $headingfontsizemobile;
    margin: 0px 5px 0px 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }

  h1 {
    background: $selectedbackgroundcolor;
    color: $headingcolor;
    font-size: $h1fontsizemobile;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
  }

  .horizontal-menu-item {
    font-size: 12px;
    margin-right: 1px;
  }
}

@media only screen and (min-width: 801px) {
  .menu-and-content-container {
    background-color: $selectedbackgroundcolor;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .menu-bar-container {
    background: $verticalbackgroundcolor;
    display: flex;
    flex-direction: column;
    width: 22%;
  }

  .menu-content-divider {
    height: 100%;
    width: 1%;
  }

  .router-outlet {
    width: 77%;
  }

  .horizontal-menu-item {
    font-size: 16px;
    margin-right: 5px;
  }

  .main-menu-item {
    cursor: pointer;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $headingcolor;
    font-family: sans-serif;
    border-radius: 10px 0px 0px 10px;
    font-size: $headingfontsizedesktop;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
  }

  h1 {
    background: $selectedbackgroundcolor;
    color: $headingcolor;
    font-size: $h1fontsizedesktop;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
  }
}

.app-component {
  background: $selectedbackgroundcolor;
  min-height: 100vh;
  margin: 0px 0px 0px 0px;
}

html,
body,
p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px 0px 0px 0px;
}


.content-area {
  background: $contentbackgroundcolor;
  color: $contentcolor;
  min-height: 100vh;
  padding-left: 0px;
  padding-top: 0px;
  font-family: sans-serif;
}

.content-text {
  padding-left: 10px;
  padding-top: 10px;
}


.horizontal-menu-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 30px;
  overflow: auto;
  background: $selectedbackgroundcolor;
}


.horizontal-menu-item {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $headingcolor;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  // width: 150px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: $selectedbackgroundcolor;
  border-radius: 6px 6px 0px 0px;
  white-space: nowrap;
  margin-right: 5px;
  text-decoration: underline;
}

.horizontal-menu-item-selected {
  background: $headingcolor;
  color: $selectedbackgroundcolor;
  text-decoration: none;
}

.horizontal-menu-item-hovered-but-not-selected {
  background: $horizontalhoverbackgroundcolor;
  color: $headingcolor;
}

.main-menu-item-selected {
  background: $selectedbackgroundcolor;
  color: $headingcolor;
}

.main-menu-item-hovered-but-not-selected {
  background: $verticalhoverbackgroundcolor;
}

hr {
  border-color: $contentcolor;
  background-color: $contentcolor;
  color: $contentcolor;
}

.no-resize {
  resize: none;
}

.submit-contact {
  background-color: rgb(0.0, 128, 255);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;

}


@import "~@angular/cdk/overlay-prebuilt.css";

.ks-modal-gallery-backdrop {
  background: #000 !important;
  ;
  opacity: 0.85 !important;
  ;
}

.ks-modal-gallery-panel {
  z-index: 90000 !important;
}