<div class="content-area">
    <h1>Home</h1>
    <app-menu-bar [menuRows]='menuRows' (selected)='template=$event'></app-menu-bar>

    <div class="content-text">

    <div class="content">
      Welcome to Guy's online software development portfolio. Please choose an item from the menu.
    </div>

    <app-technology-collage [technologyRows]="this.technologyRows"></app-technology-collage>
    <app-link-collage [linkRows]="this.linkRows"></app-link-collage>

    </div>
  </div>
